<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BK_MeterLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BK_MeterLogger.Properties.Settings>
            <setting name="LastCommPort" serializeAs="String">
                <value />
            </setting>
            <setting name="LastBaudRate" serializeAs="String">
                <value>2400</value>
            </setting>
            <setting name="LastLogFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastInterval" serializeAs="String">
                <value>0</value>
            </setting>
        </BK_MeterLogger.Properties.Settings>
    </userSettings>
</configuration>